---
import SectionTemplate from "../section-template.astro";
---

<SectionTemplate title="About">
    <p class="text-muted-foreground">
        I specialize in cloud-native software architecture, transforming complex
        problems into clean code solutions. In my free time, I love building
        useful apps for developers.
    </p>
</SectionTemplate>
