---
import { Linkedin } from "../ui/svgs/linkedin";
import { Button } from "../ui/button";
import { GithubDark } from "../ui/svgs/githubDark";
import { GithubLight } from "../ui/svgs/githubLight";
---

<header class="pt-10 flex items-center">
    <div class="flex-1 space-y-2">
        <h1 class="font-semibold">Hi, I'm Jonatan</h1>
        <h2 class="text-lg text-muted-foreground text-balance font-medium">
            Software Engineer from Lima, Peru. I love designing and building
            scalable and usefull software for everybody.
        </h2>

        <div>
            <a
                href="https://www.linkedin.com/in/jonatanacunacor/"
                target="_blank"
            >
                <Button
                    size="sm"
                    variant="outline"
                    className="gap-2 items-center"
                >
                    <Linkedin />
                    <span>LinkedIn</span>
                </Button>
            </a>
            <a href="https://github.com/JonatanFD" target="_blank">
                <Button
                    size="sm"
                    variant="outline"
                    className="gap-2 items-center"
                >
                    <GithubDark className="hidden dark:block" />
                    <GithubLight className="block dark:hidden" />
                    <span>GitHub</span>
                </Button>
            </a>
        </div>
    </div>
    <div>
        <img
            src="me.jpeg"
            alt="Jonatan Acuña Picture"
            class="size-40 rounded-full"
        />
    </div>
</header>
