---
import "../styles/globals.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Jonatan AC</title>
    </head>
    <body>
        <main class="min-h-screen w-full max-w-4xl mx-auto"></main>
    </body>
</html>
