---
import { projects, techStack } from "../lib/data";
import Experience from "./Experience.astro";
import Profile from "./Profile.astro";
import ProjectCard from "./ProjectCard.astro";
import H4 from "./ui/H4.astro";
import P from "./ui/P.astro";
import Separator from "./ui/separator.astro";
---

<section class="flex flex-col gap-8">
    <section class="pt-16">
        <Profile />
    </section>

    <Separator />

    <section class="relative">
        <Experience />
    </section>

    <Separator />

    <section class="relative">
        <div class="grid grid-cols-2">
            <H4 class="sticky top-16 self-start">Projects</H4>

            <ul>
                {
                    projects.map((project) => (
                        <li class="not-first:mt-4">
                            <ProjectCard project={project} />
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>

    <Separator />

    <section class="relative">
        <div class="grid grid-cols-2">
            <H4 class="sticky top-16 self-start">Tech Stack</H4>

            <div>
                {
                    techStack.map((cat) => (
                        <section class="not-first:mt-8">
                            <P>{cat.category}</P>
                            <ul class="grid grid-cols-5 gap-6 mt-2">
                                {cat.techs.map((tech) => (
                                    <li title={tech.name}>
                                        {<tech.component class="size-8" />}
                                    </li>
                                ))}
                            </ul>
                        </section>
                    ))
                }
            </div>
        </div>
    </section>
</section>
