---
import H4 from "./ui/H4.astro";
import P from "./ui/P.astro";
import Separator from "./ui/separator.astro";
---

<section>
    <section>
        <div>
            <H4>Jonatan Acuña</H4>
            <div>
                <P>Fullstack Software Engineer</P>
                <P>Hi there!</P>
            </div>
        </div>
        <div>
            <img src="" alt="" />
        </div>
    </section>
    <Separator />
    <section></section>
    <Separator />
    <section></section>
    <Separator />
    <section></section>
</section>
