---
import { projects, techStack } from "../lib/data";
import Profile from "./profile.astro";
import ProjectCard from "./project-card.astro";
import H4 from "./ui/H4.astro";
import P from "./ui/P.astro";
import Separator from "./ui/separator.astro";
---

<section>
    <section>
        <Profile />
    </section>

    <Separator />

    <section>
        <div class="grid grid-cols-2">
            <H4>Experience</H4>

            <ul class="flex gap-2">
                <li>
                    <P>
                        Looking for my first opportunity to challenge myself and
                        contribute to a team.
                    </P>
                </li>
            </ul>
        </div>
    </section>

    <Separator />

    <section>
        <div class="grid grid-cols-2">
            <H4>Projects</H4>

            <ul>
                {
                    projects.map((project) => (
                        <li class="not-first:mt-4">
                            <ProjectCard project={project} />
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>

    <Separator />

    <section>
        <div class="grid grid-cols-2">
            <H4>Tech Stacks</H4>

            <ul class="grid grid-cols-6 gap-6">
                {
                    techStack.map((Technology) => (
                        <li>{<Technology class="size-6" />}</li>
                    ))
                }
            </ul>
        </div>
    </section>
</section>
