---
import { projects, techStack } from "../lib/data";
import Experience from "./Experience.astro";
import Profile from "./Profile.astro";
import ProjectCard from "./ProjectCard.astro";
import Separator from "./ui/Separator.astro";
---

<section class="flex flex-col gap-8">
    <section class="pt-16">
        <Profile />
    </section>

    <Separator />

    <section class="relative">
        <Experience />
    </section>

    <Separator />

    <section class="relative">
        <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
            <h4 class="md:sticky md:top-16 md:self-start">Projects</h4>

            <ul>
                {
                    projects.map((project) => (
                        <li class="not-first:mt-4">
                            <ProjectCard project={project} />
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>

    <Separator />

    <section class="relative">
        <div class="flex flex-col md:grid md:grid-cols-2 gap-4">
            <h4 class="md:sticky md:top-16 md:self-start">Tech Stack</h4>

            <div>
                {
                    techStack.map((cat) => (
                        <section class="not-first:mt-8">
                            <p>{cat.category}</p>
                            <ul class="grid grid-cols-3 justify-items-center sm:grid-cols-4 md:grid-cols-5 gap-4 md:gap-6 mt-2">
                                {cat.techs.map((tech) => (
                                    <li title={tech.name}>
                                        {<tech.component class="size-8" />}
                                    </li>
                                ))}
                            </ul>
                        </section>
                    ))
                }
            </div>
        </div>
    </section>
</section>
