---
import H4 from "./ui/H4.astro";
import P from "./ui/P.astro";
---

<div class="grid grid-cols-2">
    <H4 class="sticky top-16 self-start">Experience</H4>

    <ul class="flex gap-2">
        <li>
            <P>
                Looking for my first opportunity to challenge myself and
                contribute to a team.
            </P>
            <P>
                <a
                    href="https://www.linkedin.com/in/jonatan-acu%C3%B1a-corahua-94a136372/"
                    class="hover:underline"
                >
                    Contact me
                </a>
            </P>
        </li>
    </ul>
</div>
