---

---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <h4 class="md:sticky md:top-16 md:self-start text-zinc-100">Experience</h4>

    <ul class="flex gap-2">
        <li>
            <p class="text-zinc-300">
                I'm seeking my first opportunity to challenge myself while
                contributing meaningful work to a team.
            </p>
            <p>
                <a
                    href="https://www.linkedin.com/in/jonatan-acu%C3%B1a-corahua-94a136372/"
                    class="text-zinc-400 hover:text-zinc-100 hover:underline transition-colors"
                >
                    Let's connect on LinkedIn
                </a>
            </p>
        </li>
    </ul>
</div>
