---
import Github from "./ui/icons/github.astro";
import LinkedIn from "./ui/icons/linkedIn.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
        <h4>Jonatan Acuña Corahua</h4>
        <div>
            <p class="text-zinc-400">Full-Stack Software Engineer</p>
            <p class="text-balance">
                I'm a student software engineer from Lima, Peru 🇵🇪 who thrives
                on crafting meaningful digital experiences through thoughtful
                code and design. I specialize in full-stack development and
                software architecture, always looking for new challenges that
                push me to learn and contribute more.
            </p>
        </div>
        <ul class="flex gap-4 mt-4">
            <li>
                <a href="https://github.com/JonatanFD">
                    <Github class="size-6" />
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/jonatan-acu%C3%B1a-corahua-94a136372/"
                >
                    <LinkedIn class="size-6" />
                </a>
            </li>
        </ul>
    </div>
    <div>
        <img src="" alt="" />
    </div>
</div>
