---
import H4 from "./ui/H4.astro";
import Github from "./ui/icons/github.astro";
import LinkedIn from "./ui/icons/linkedin.astro";
import P from "./ui/P.astro";
---

<div>
    <H4>Jonatan Acuña</H4>
    <div>
        <P className="text-zinc-400">Fullstack Software Engineer</P>
        <P>Hi there!</P>
    </div>
    <ul class="flex gap-2 mt-4">
        <li>
            <a href="https://github.com/JonatanFD">
                <Github class="size-6" />
            </a>
        </li>
        <li>
            <a href="#">
                <LinkedIn class="size-6" />
            </a>
        </li>
    </ul>
</div>
<div>
    <img src="" alt="" />
</div>
