---
import Github from "./ui/icons/github.astro";
import LinkedIn from "./ui/icons/linkedIn.astro";
---

<div class="grid grid-cols-2 gap-4">
    <div>
        <h4>Jonatan Acuña Corahua</h4>
        <div>
            <p class="text-zinc-400">Fullstack Software Engineer</p>
            <p class="text-balance">
                Hi there! I am a Student Software Engineer from Lima, Peru 🇵🇪. I
                love creating meaningful experiences through code and design.
                Specialized in Fullstack Development and Software Architecture.
            </p>
        </div>
        <ul class="flex gap-4 mt-4">
            <li>
                <a href="https://github.com/JonatanFD">
                    <Github class="size-6" />
                </a>
            </li>
            <li>
                <a
                    href="https://www.linkedin.com/in/jonatan-acu%C3%B1a-corahua-94a136372/"
                >
                    <LinkedIn class="size-6" />
                </a>
            </li>
        </ul>
    </div>
    <div>
        <img src="" alt="" />
    </div>
</div>
