---
import { twMerge } from "tailwind-merge";
interface Props {
    text?: string;
    className?: string;
}
const { text, className = "" } = Astro.props;

const styles = twMerge("leading-7 [&:not(:first-child)]:mt-6", className);
---

<p class={styles}>
    {text}
    <slot />
</p>
